@CHARSET "UTF-8";
<style>

html, body {
	height: 100%;
	width: 100%;
	background: skyblue;
}

#container {
	position:relative;
	    background: white;
    width: 80%;
    height: 810px;
	float:left;
    margin-left: 1%;
    
}
#OMR{
	border: 1px solid black;
	position:relative;
	right: 80px;
}
#container>.row{
	height: 33%;
	
}
#container>.row>.col-md-6,#container>.row>.col-md-6>div{
	height: 100%;
	
}
#turn {
	width: 100px;
	height: 50px;
}

#select {
	position:absolute;
	right: 0px;
	height: 100%;
	text-align: center;
}
.title{
	font-size:20px;
	width: 1300px;
	text-align: center;
}
.exit{
	clear: both;
	margin-top: 20px;
}
</style>